<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020 Hochikong
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- DB -->
    <appender name="dbmgmt" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--        <file>logs/ktmeta-dgmgmt.log</file>-->
        <prudent>true</prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/ktmeta-dbmgmt.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>20KB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{10} [%file:%line] -> %msg%n %n</pattern>
        </encoder>
    </appender>

    <logger name="ktmeta->dbmgmt" level="info" additivity="false">
        <appender-ref ref="dbmgmt"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- ES -->
    <appender name="esmgmt" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/ktmeta-esmgmt.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>20KB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{10} [%file:%line] -> %msg%n %n</pattern>
        </encoder>
    </appender>

    <logger name="ktmeta->esmgmt" level="info" additivity="false">
        <appender-ref ref="esmgmt"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>