<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="dbmgmt" class="ch.qos.logback.core.FileAppender">
        <file>logs/ktmeta-dgmgmt.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{10} [%file:%line] -> %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ktmeta->dbmgmt" level="warn" additivity="false">
        <appender-ref ref="dbmgmt"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>